{% extends 'blog/base.html' %}
{% load static %}

    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/35c398e458.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet"  href="{% static  'blog/css/base.css' %}">-->

{% block content %}
            <div id="mainbody1">
                <img class="storyimg" src="{{ post.image.url }}"/>
                    <div class="storydescription">
                        <h1 class="h1heading">{{ post.title }}</h1><br><br>
                        <a href=""><span class="blog-author" style="color:blue">{{ post.author }}</span> </a>| 23 Jul 2019<br>
                        <p class="blog-para">{{ post.content|truncatechars:700|safe  }}</p>
                    </div>
            </div>
{% endblock %}